.chart-container {
    position: relative;
    width: 80%;  /* Ajusta el ancho según tus necesidades */
    height: 400px; /* Ajusta la altura según tus necesidades */
    margin-left: auto;
    margin-right: auto;
  }
  
  canvas {
    display: block;
  }