*{
  outline: none !important
}

#fondo{

  position: absolute;
  width: 100%;
  height: 100%;
 /* height: 100%;*/
  background-color: #DFE3FF;

}
.wrapper-calendar{
  margin:1rem;
  padding: .5rem;
  border: solid 1px #eaeaea;
  /*box-shadow: 0 0 10px #e4e4e4;*/
}
.Turn
{ cursor: pointer;

  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
 justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
  height: 40px;
  
width: 60vw;
  background-color: #333B7B;
}
.TurnsAndCalendar
{
  display: flex;
  justify-content: center;

}

#Calendario {
 /* 
 background-color: #888FC7;
 
 */

 background-color: #DFE3FF;
  margin-top: 40px;
border-radius: 5px;
  

    text-align: center;
    width: 40vw;
   height: 60vh;
   border-width: 1px;
   border-color: #333B7B;

  }
  .flechita{
    cursor: pointer;
    background-color: #DFE3FF;
  /*  border-width: 1px;
    border-color: #333B7B;*/
    border-radius: 5px;
    width: 80px;
height: auto;

  }

  #boxes
  {

    border-radius: 5px;
    display: flex;
    align-items: center;
   justify-content: center;
  background-color: #888FC7;
  color: #333B7B;
    border-style: solid;
    border-width: 1px;

    height: 4vh;
    font-size: 25px;

  }

  ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
  }

  li {
    padding: .25rem;
    font-size: 1.5ch;
    cursor: pointer;
  }  
  li:hover{
    font-weight: 600;
  }  
/*  h2 {
    margin-bottom: 4px;
    padding: 0;
  }*/
  
  .first-day {
    grid-column-start: var(--first-day-start, 0);
  }
  
  .day-name {
    background-color: #888FC7;
    margin: 0px;
   color: #333B7B;
 
    font-weight: bold;
    
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
    font-size: 22px;
  }
  
  .header-calendar {
    display: flex;
    color: #333B7B;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .header-calendar h1 {
    width: 100%;
    font-size: 40px;
  }
  
  .header-calendar button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #888FC7;
    font-size: 30px;
    height: 80px;
    border: 0;
  }
  .FutureTurns{
    margin-top: 40px;
    border-radius: 10px;
    width: 40vw;
background-color:   #DFE3FF;
    height: 70vh;
    border-width: 1px;
    border-color: #333B7B;
    color: #333B7B;
  }
  .TitleTurns
  {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
.ForFutureTurns
{
  list-style-type: none;
  cursor:default;


}


  .TextFutureTurn
  {

  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  margin-left: 20px;
  }
  @media (max-width: 600px)  {

    .header-calendar
    {
      height: 70px;
    }
    .header-calendar h1 {

      font-size: 20px;
    }
    
    .TurnsAndCalendar
    {
      flex-direction: column;
    }
   #Calendario{
    width: 80vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
   }
   .FutureTurns{  

  margin: auto;
    width: 80vw;
    height: 30vh;
 
  }
  .TitleTurns
  {
    font-size: 12px;
  }
  .TextFutureTurn
  {

    font-size: 10px;
  }


    .flechita{
      background-color: #DFE3FF;
    /*  border-width: 1px;
      border-color: #333B7B;*/
      border-radius: 5px;
      width: 40px;
  height: auto;
  
    }

    #boxes
    {
      font-size: 10px;
      height: auto;
    }

    .header-calendar h1 {
      width: 100%;
      font-size: 15px;
    }
    .day-name{font-size: 10px;}
   /* #Calendario{ 
        height: 60vh;;
    }*/
  }




  @media (min-width: 601px)and (max-width: 900px)  {
    .header-calendar h1 {

      font-size: 30px;
    }
    
   


    .flechita{
      background-color: #DFE3FF;
    /*  border-width: 1px;
      border-color: #333B7B;*/
      border-radius: 5px;
      width: 60px;
  height: auto;
  
    }

    #boxes
    {
      font-size: 15px;
      height: auto;
    }

    .header-calendar h1 {
      width: 100%;
      font-size: 20px;
    }
    .day-name{font-size: 15px;}
   /* #Calendario{ 
        height: 60vh;;
    }*/
  }
  @media (min-width: 1200px)
  {

    .TextFutureTurn
    {
  
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    }
  }









  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  
  .popup.show {
    display: block;
  }
  
  .popup-content {
    background-color: #888FC7;
    margin: 5% auto;
    padding: 20px;
    color: #333B7B;

    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #333B7B;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }