<div id="fondo">
<div id="Calendario" class="wrapper-calendar">
	<div class="header-calendar">
		<div>
			<button (click)="changeMonth(-1)" class="btn-prev"> </button>
		</div>
		<h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
		<div>
			<button (click)="changeMonth(1)" class="btn-next">></button>
		</div>
	</div>
	<ol>
		<li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}<!--te permite seleccionar los 3 primeros caracteres de la semana --></li>

    <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of monthSelect;let first = first">
			<div id="cuadraditos"><span >{{day?.value}}</span></div>
		</li>
	</ol>
</div>


<div>

</div>


</div>