<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top w-100">
   <div class="container-fluid">
       <a class="navbar-brand" href="#"><img class="logo-nuralign-header" src="../../assets/Image/header/nuralignlogo.svg"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
           <div class="navbar-nav">
               <a class="nav-link" href="#nuestra-mision">Nuestra misión</a>
               <a class="nav-link" href="#quien-es-robotin">¿Quien es robotin?</a>
               <a class="nav-link" href="#sos-terapeuta">¿Sos terapeuta?</a>
               <a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
Registrarse
               </a>
           </div>
       </div>
   </div>
</nav> 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Registrarse</h1>
          <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <div class="register-form h-75 p-3 m-auto d-flex align-items-center justify-content-center">
                  <form class="w-100" action="#" method="post">
                      <label for="email">Email</label>
                      <input class="form-control" type="email" id="email" name="email" required>
  
                      <label for="contrasena">Contraseña</label>
                      <input class="form-control" type="password" id="contrasena" name="contrasena" required>
  
                      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                      <input class="form-control" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
  
                      <label for="sexo">Sexo</label>
                      <select class="form-control" id="sexo" name="sexo" required>
                          <option value="">Selecciona tu sexo</option>
                          <option value="masculino">Masculino</option>
                          <option value="femenino">Femenino</option>
                          <option value="otro">Otro</option>
                          <option value="prefiero_no_decirlo">Prefiero no decirlo</option>
                      </select>
  
                      <div class="text-center py-2">
                          <input class="btn w-100 text-light hover-size" type="submit" value="Registrarse">
                      </div>
                  </form>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
<div class="spacer-header"></div>
   
