  .logo-nuralign-header{
    width: 200px;
}

.spacer-header{
  height: 83.14px;
}

/* MODAL REGISTRO*/
.modal-header, .modal-footer{
  background-color: #333B7B;
}
.modal-body{
  background-color: #DFE3FF;
}

/* MODAL REGISTRO END*/

