<app-header></app-header>
<div class="area">
  <ul class="squares m-0 p-0">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
  <ul class="squares2 m-0 p-0">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
  <ul class="squares3 m-0 p-0">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
  <div class="container-fluid">
      <div class="row h-100" id="rowR">
          <div class="col m-auto h-75 column-container">
              <div class="p-3 d-flex flex-column m-auto column-landing h-100 position-relative">
                  <div class="col-12">
                  </div>
                  <h1 class="h1-column-1 fw-bold text-uppercase m-0 pt-2">¿Sufres trastorno de bipolaridad?</h1>
                  <p class="p-column-1 m-0">Descarga nuestra app para empezar a monitorear tus emociones</p>
                  <div class="position-relative h-auto text-end">
                      <img class="logo-playstore" src="../../assets/Image/home/Google-Play-App-Store-Button.webp">
                  </div>                                      
              </div>
          </div>
          <div class="col m-auto h-75 column-container">
              <div class="p-3 m-auto column-landing h-100 d-flex flex-column">
                  <div class="text-center">
                      <h2 class="m-0 pt-2">¿Sos terapeuta? Inicia sesion</h2>
                  </div>
                  <div class="login-form h-75 p-3 m-auto d-flex align-items-center justify-content-center">
                      <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-100">
                          <label for="usuario">Email</label>
                          <input formControlName="email" class="form-control" type="text" id="usuario" name="usuario" required>
                  
                          <label for="contrasena">Contraseña</label>
                          <input formControlName="password" class="form-control" type="password" id="contrasena" name="contrasena" required>
                          <div class="text-center py-2">
                                  <input class="btn w-100 text-light hover-size" type="submit" value="Iniciar Sesión">
                          </div>
                          <div class="text-center forgot-password">
                              <span><a href="#">¿Olvidaste tu contraseña?</a></span>
                          </div>
                          <div class="text-center register">
                              <span>¿No tienes cuenta? <a href="#">Regístrate</a></span>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="pym-para-header" id="suscripcion">
    <div class="container-fluid img-bg" >
        <div class="row h-100 justify-content-end">
            <div class=" col-12 col-sm-6 objetivo-column1 p-4">            
                <div class="row justify-content-center text-center py-2">
                    <span class="text-light fs-2"><strong>Prueba Completa:</strong><br>15 Días de Servicio Premium Gratis</span>
                    <div class="col-11 py-4 align-content-center">
                        <div class="card card-custom m-auto">
                            <div class="card-header">
                                Servicio Premium - $5000
                            </div>
                            <div class="card-body card-body-custom text-start">
                                <h5 class="card-title">Beneficios Incluidos:</h5>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-custom">Acceso ilimitado a todas las funcionalidades.</li>
                                    <li class="list-group-item list-group-item-custom">Herramientas de análisis.</li>
                                    <li class="list-group-item list-group-item-custom">Gráficos estadísticos.</li>
                                    <li class="list-group-item list-group-item-custom">Reportes detallados.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pym-para-header" id="quien-es-robotin">
    <div class="quien-es-robotin" >
        <div class="container">
            <div class="row">
                <div class="col-12 columna-robot">
                    <div class="d-none d-md-flex col-4 col-lg-5 align-items-center h-100 hidden-fade-in-left">
                        <h2>UN COMPAÑERO QUE TE AYUDA EN TU CAMINO</h2>
                    </div>
                    <div class="fixed-robot hidden-fade-in-left" id="robotin">
                        <div class="position-absolute" id="img-container-robot">
                            <div class="position-relative">
                                <img src="../../assets/Image/home/Robotin1.png" id="img-robotin" class="">
                                <img src="../../assets/Image/home/Robotin1ojos.png" class="blink position-absolute" id="img-robotin-ojos">
                            </div>
                        </div>                        
                        <div class="chat-bubble1" id="chat-bubble1">
                            <p class="bubble-text text1">¡Hola! 👋 Soy Robotin</p>
                            <p class="bubble-text text2">¿Aún no tienes nuestra aplicación?</p>
                            <p class="bubble-text text3">¡Descárgala ahora desde la Play Store!</p>
                        </div>
                        <div class="chat-bubble-section" id="chat-bubble-section">
                            <p class="bubble-text text4">¡Hola! Soy Robotin. Estoy aquí para guiarte y acompañarte.</p>
                            <p class="bubble-text text5">Mi propósito es hacerte la vida más fácil y ayudarte a llevar</p>
                            <p class="bubble-text text6">un registro detallado y preciso de tus emociones, terapias,</p>
                            <p class="bubble-text text7">sueño y medicación diaria. Si alguna vez necesitas ayuda</p>
                            <p class="bubble-text text8">estaré aquí para ofrecerte el apoyo y la orientación que</p>
                            <p class="bubble-text text9">necesites.</p>
                            <p class="bubble-text text10">¡Trabajando juntos, todo se vuelve más simple!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pym-para-header" id="sos-terapeuta">
    <div class="sos-terapeuta-section py-5">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-6 py-5 order-1 order-md-1 hidden-fade-in-left sos-terapeuta-p">
                    <p>Accede a informes detallados y precisos sobre sus fluctuaciones emocionales.</p>
                    <p class="m-0">Ajusta las intervenciones y mejora tu calidad profesional con la ayuda de nuestra plataforma.</p>
                </div>
                <div class="col-12 col-md-6 py-5 sos-terapeuta-section-title order-md-0 order-0 hidden-fade-in-right">
                    <h3>¡Si sos terapeuta mira los datos de tus pacientes en nuestra web!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="contale-section py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 py-5 order-1 order-md-0 hidden-fade-in-left">
                <p>La personalización del tratamiento se beneficia enormemente de datos detallados y precisos sobre el estado de ánimo del paciente. </p>
                <p class="m-0">Los terapeutas pueden ajustar las intervenciones basándose en los informes, lo que lleva a una mayor efectividad en el tratamiento.</p>
            </div>
            <div class="col-12 col-md-6 py-5 contale-section-title order-md-1 order-0 hidden-fade-in-right">
                <h3>¡Contale a tu terapeuta como te fue esta semana!</h3>
            </div>
        </div>
    </div>
    </div>
</div>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
   var swiper = new Swiper(".mySwiper", {
     navigation: {
       nextEl: ".swiper-button-next",
       prevEl: ".swiper-button-prev",
     },
   });
 </script>
<app-footer></app-footer>