.fondo{
  width: 100%;
  height: 100%;
  padding: 24px 0;
}

#titulo {
  font-size: 30px;
}

.container {
    margin: 0 auto;
    border-style: solid;
    border-color: #333b7b;
    background-color: white;
    color: #333b7b;
    font-size: 25px;
    width: 80%;
    height: 100%;
    border-width: 1px;
    border-radius: 20px;
    padding: 20px 0;
    overflow: scroll;
  }
  
  .descargas {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .textodesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
  }
  .textodesc a{
    font-size: 20px;    
  }
  
  .icon {
    height: 30px;
    width: auto;
  }

  @media (max-width: 767px) {
    #titulo {
      font-size: 20px;
    }

    .textodesc a{
      font-size: 16px;    
    }
  }

  @media (max-width: 400px) {
    #titulo {
      font-size: 15px;
    }

    .textodesc a{
      font-size: 14px;    
    }
  }
  .clickable-report {
    cursor: pointer;
  }
  
  .clickable-report:hover {
    background-color: #f0f0f0;
  }