.contenedor {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #333b7b;
    background-color: #888FC7;
    color: #333b7b;
    font-size: 25px;
    width: 70%;
    height: 80%;
    border-radius: 20px;
  }
  
  .descargas {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  #titulo {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .textodesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .icon {
    height: 30px;
    width: auto;
  }
  