
<div id="fondo">
	<app-header-session></app-header-session>

	<div class="TurnsAndCalendar">

<div id="Calendario" class="wrapper-calendar">
	<div class="header-calendar">
		<div>
		
			<a (click)="changeMonth(-1)" ><img class="flechita" src="../../assets/Image/flechita-izq.png"></a>
		</div>
		<h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
		<div>

			<a (click)="changeMonth(1)"> <img class="flechita" src="../../assets/Image/flechita-der.png"> </a>
		
		</div>
	</div>
	<ol>
		<li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}<!--te permite seleccionar los 3 primeros caracteres de la semana --></li>

		<!--para establecer cuando empieza a generar los dias y no los ponga en cualquier lado -->
    <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of monthSelect;let first = first">
			<div id="boxes"><span >{{day?.value}}</span></div>
		</li>
	</ol>
</div>



<div class="FutureTurns">

	<p class="TitleTurns">Turnos:</p>
	<li class="ForFutureTurns" *ngFor="let turno of UltimosTurnos">
		<a class="TextFutureTurn">
		Turno de {{ turno.namePacient }}
		el dia {{ turno.effectiveDate }}
		a las {{ turno.turnTime }}</a>
	  </li>

</div>

</div>


<div class="popup" [ngClass]="{ 'show': isPopupVisible }">
    <div class="popup-content">
      <span class="close" (click)="closePopup()">&times;</span>
      <h2>Turnos del día: {{ popupDate }}</h2>

	  <li class="ForFutureTurns" *ngFor="let turno of popUpTurnByFecha">
		<a>
			Turno de {{ turno.namePacient }}
		el dia {{ turno.effectiveDate }}
		a las {{ turno.turnTime }}</a>
	  </li>
	  <div>
		<form [formGroup]="turnForm" (ngSubmit)="generateTurn()">
			<mat-form-field>
				<mat-label>Nombre del paciente</mat-label>
				<input matInput formControlName="namePacient">
			  </mat-form-field>
			  <mat-form-field>
				<mat-label>Select</mat-label>
				<mat-select formControlName="turnTime">
				  <mat-option value="00:00">00:00</mat-option>
				  <mat-option value="01:00">01:00</mat-option>
				  <mat-option value="02:00">02:00</mat-option>
				  <mat-option value="03:00">03:00</mat-option>
				  <mat-option value="04:00">04:00</mat-option>
				  <mat-option value="05:00">05:00</mat-option>
				  <mat-option value="06:00">06:00</mat-option>
				  <mat-option value="07:00">07:00</mat-option>
				  <mat-option value="08:00">08:00</mat-option>
				  <mat-option value="09:00">09:00</mat-option>
				  <mat-option value="10:00">10:00</mat-option>
				  <mat-option value="11:00">11:00</mat-option>
				  <mat-option value="12:00">12:00</mat-option>
				  <mat-option value="13:00">13:00</mat-option>
				  <mat-option value="14:00">14:00</mat-option>
				  <mat-option value="15:00">15:00</mat-option>
				  <mat-option value="16:00">16:00</mat-option>
				  <mat-option value="17:00">17:00</mat-option>
				  <mat-option value="18:00">18:00</mat-option>
				  <mat-option value="19:00">19:00</mat-option>
				  <mat-option value="20:00">20:00</mat-option>
				  <mat-option value="21:00">21:00</mat-option>
				  <mat-option value="22:00">22:00</mat-option>
				  <mat-option value="23:00">23:00</mat-option>
			
			
				</mat-select>
			  </mat-form-field>
			  <button class="botondeSubmit" type="submit">Crear Turno</button>
		</form>
	  </div>


  
<app-footer-session></app-footer-session>
</div>