<div class="header">
  <div class="cuadroHeader">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <label class="bienvenida">Bienvenido PepeLuis</label>
  </div>
  <div class="Isologotipo">
    <img class="Isotipo" src="../../assets/Image/Isotipo.png">
    <img class="isotipo" src="../../assets/Image/LogoTipo.png">
  </div>
</div>

<mat-sidenav-container class="contenidosidebar">
  <mat-sidenav #sidenav mode="side" opened class="columnabar">
    <mat-nav-list>
     <br>     <br>     
      <a mat-list-item routerLink="/other">hola vengo a flotar</a>
    </mat-nav-list>
  </mat-sidenav>
 
</mat-sidenav-container>
