
<app-header></app-header>
<!--<div class="header">   <div class="cuadroHeader">Bienvenido PepeLuiz</div><div class="Isologotipo"><img class="Isotipo"  src="../../assets/Image/Isotipo.png"> <img class="isotipo" src="../../assets/Image/LogoTipo.png"></div></div>
-->


<div class="contenedor">
    
            <div class="cuadro" id="cuadro1"> <br> <br> <br><!--<h1 class="textoCuadro">Agenda</h1>-->
                  <a href="Calendar"><img class="icon"  src="../../assets/Image/calendar.png"></a> <br> <br>
                  <p class="textoCuadroSecundario">Revisa tu Calendario y acepta tus solicitudes de turnos</p>
                  <img class="fondoCuadros" id="agenda" src="../../assets/Image/agenda.jpg">
            </div>
    
            <div class="cuadro" id="cuadro2"> <br><br><br><!--<h1 class="textoCuadro">Pacientes</h1>-->
                  <a href="Pacient"><img class="icon"  src="../../assets/Image/team.png"></a> <br><br>
                  <p class="textoCuadroSecundario">Mira y accede a la informacion de tus pacientes y luego genera informes</p>
            <img class="fondoCuadros" id="pacientes" src="../../assets/Image/psicologo2.png">
            </div>

            <div class="cuadro"id="cuadro3"> <br><br><br><!--<h1 class="textoCuadro">Informes</h1>-->
                 <a href="Informs"> <img class="icon"  src="../../assets/Image/notas.png"></a><br><br>
                  <p class="textoCuadroSecundario"> Mira tus informes generados.</p>
                 
                  <img class="fondoCuadros" id="informes" src="../../assets/Image/informe2.jpg">
            </div>
            
           
      </div> <div id="FooterR"><div class="Footer">Mi Cuenta</div></div>