<app-header-session></app-header-session>
<!--<div class="header">   <div class="cuadroHeader">Bienvenido PepeLuiz</div><div class="Isologotipo"><img class="Isotipo"  src="../../assets/Image/Isotipo.png"> <img class="isotipo" src="../../assets/Image/LogoTipo.png"></div></div>
-->

<div class="container py-5">
      <div class="row h-100">
            <div class="col-md-4 col-12 py-3 h-100">
                  <a href="calendar" class="text-decoration-none">
                        <div class="card card-dashboard border-0"
                              style="background-image: url('../../assets/Image/agenda.jpg'); border-radius: 20px;">
                              <div class="filtro-violeta d-flex flex-column align-items-center">
                                    <img class="icon" src="../../assets/Image/calendar.png">
                                    <span class=" text-light text-center py-2">Calendario y administración de turnos</span>
                              </div>
                        </div>
                  </a>
            </div>
            <div class="col-md-4 col-12 py-3 h-100">
                  <a href="report" class="text-decoration-none">
                        <div class="card card-dashboard border-0"
                              style="background-image: url('../../assets/Image/psicologo2.png'); border-radius: 20px;">
                              <div class="filtro-violeta d-flex flex-column align-items-center">
                                    <img class="icon" src="../../assets/Image/team.png">
                                    <span class="text-light text-center  py-2">Generacion de informes de pacientes</span>
                              </div>
                        </div>
                  </a>
            </div>
            <div class="col-md-4 col-12 py-3 h-100">
                  <a href="reports" class="text-decoration-none">
                        <div class="card card-dashboard border-0"
                              style="background-image: url('../../assets/Image/informe2.jpg'); border-radius: 20px;">
                              <div class="filtro-violeta d-flex flex-column align-items-center">
                                    <img class="icon" src="../../assets/Image/notas.png">
                                    <span class="text-light text-center  py-2">Informes generados y graficos</span>
                              </div>
                        </div>
                  </a>
            </div>
      </div>

</div>