

.card-dashboard{
  background-position: center;
  background-size: cover;
}

.filtro-violeta{
  background-color:rgb(51, 59, 123, .7);
  width: 100%;
  height: 100%;
  padding:30% 10%;
  border-radius: 20px;
}

.icon {
  height: 75px;
  width: 75px;
}

