<app-header></app-header>
<div class="area">
  <ul class="squares m-0 p-0">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
  <ul class="squares2 m-0 p-0">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
  <ul class="squares3 m-0 p-0">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
  <div class="container-fluid">
      <div class="row h-100" id="rowR">
          <div class="col m-auto h-75 column-container">
              <div class="p-3 d-flex flex-column m-auto column-landing h-100 position-relative">
                  <div class="col-12">
                  </div>
                  <h1 class="h1-column-1 fw-bold text-uppercase m-0">¿Sufres trastorno de bipolaridad?</h1>
                  <p class="p-column-1 m-0">Descarga nuestra app para empezar a monitorear tus emociones</p>
                  <div class="position-relative h-auto text-end">
                      <img class="logo-playstore" src="../../assets/Image/home/Google-Play-App-Store-Button.webp">
                  </div>                                      
              </div>
          </div>
          <div class="col m-auto h-75 column-container">
              <div class="p-3 m-auto column-landing h-100 d-flex flex-column">
                  <div class="text-center">
                      <h1 class="m-0">¡BIENVENIDO!</h1>
                  </div>
                  <div class="login-form h-75 p-3 m-auto d-flex align-items-center justify-content-center">
                      <form class="w-100" action="/dashboard">
                          <label for="usuario">Usuario</label>
                          <input class="form-control" type="text" id="usuario" name="usuario" required>
                  
                          <label for="contrasena">Contraseña</label>
                          <input class="form-control" type="password" id="contrasena" name="contrasena" required>
                          <div class="text-center py-2">
                                  <input class="btn w-100 text-light hover-size" type="submit" (click)="goToDashboard()" value="Iniciar Sesión">
                          </div>
                          <div class="text-center forgot-password">
                              <span><a href="#">¿Olvidaste tu contraseña?</a></span>
                          </div>
                          <div class="text-center register">
                              <span>¿No tienes cuenta? <a href="#">Regístrate</a></span>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid img-bg" id="nuestra-mision">
  <div class="row h-100">
      <div class="col-5 d-none d-md-block">
          
      </div>
      <div class="col-md-5 nuestro-objetivo hidden-fade-in-right">
          <p>En NurAlign nuestra misión es mejorar la calidad de vida de las personas con trastorno bipolar mediante el uso de tecnología avanzada y accesible. Nuestra aplicación está diseñada para ser una herramienta integral que permite a los usuarios llevar un registro detallado y preciso de sus fluctuaciones emocionales a lo largo del tiempo.</p>
      </div>
  </div>
</div>
<div class="quien-es-robotin" id="quien-es-robotin">
  <div class="container">
      <div class="row">
          <div class="col-12 columna-robot">
              <div class="d-none d-md-flex col-4 col-lg-5 align-items-center h-100">
                  <h2>UN COMPAÑERO QUE TE AYUDA EN TU CAMINO</h2>
              </div>
              <div class="fixed-robot hidden-fade-in-left" id="robotin">
                   <div class="position-absolute" id="img-container-robot">
                      <div class="position-relative">
                          <img src="../../assets/Image/home/Robotin1.png" id="img-robotin" class="">
                          <img src="../../assets/Image/home/Robotin1ojos.png" class="blink position-absolute" id="img-robotin-ojos">
                      </div>
                  </div>                        
                  <div class="chat-bubble1" id="chat-bubble1">
                      <p class="bubble-text text1">¡Hola! 👋 Soy Robotin</p>
                      <p class="bubble-text text2">¿Aún no tienes nuestra aplicación?</p>
                      <p class="bubble-text text3">¡Descárgala ahora desde la Play Store!</p>
                  </div>
                  <div class="chat-bubble-section" id="chat-bubble-section">
                      <p class="bubble-text text4">¡Hola! Soy Robotin. Estoy aquí para guiarte y acompañarte.</p>
                      <p class="bubble-text text5">Mi propósito es hacerte la vida más fácil y ayudarte a llevar</p>
                      <p class="bubble-text text6">un registro detallado y preciso de tus emociones, terapias,</p>
                      <p class="bubble-text text7">sueño y medicación diaria. Si alguna vez necesitas ayuda</p>
                      <p class="bubble-text text8">estaré aquí para ofrecerte el apoyo y la orientación que</p>
                      <p class="bubble-text text9">necesites.</p>
                      <p class="bubble-text text10">¡Trabajando juntos, todo se vuelve más simple!</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="contale-section">
  <div class="container">
      <div class="row d-flex align-items-center">
          <div class="col-12 col-md-6 py-4 order-1 order-md-0 hidden-fade-in-left">
              <p>La personalización del tratamiento se beneficia enormemente de datos detallados y precisos sobre el estado de ánimo del paciente. </p>
              <p class="m-0">Los terapeutas pueden ajustar las intervenciones basándose en los informes detallados, lo que lleva a una mayor efectividad en el tratamiento.</p>
          </div>
          <div class="col-12 col-md-6 py-4 contale-section-title order-md-1 order-0 hidden-fade-in-right">
              <h3>¡Contale a tu terapeuta como te fue esta semana!</h3>
          </div>
      </div>
  </div>
</div>
<div class="sos-terapeuta-section" id="sos-terapeuta">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6 py-4 order-1 order-md-1 hidden-fade-in-left">
                <p>Accede a informes detallados y precisos sobre sus fluctuaciones emocionales.</p>
                <p class="m-0">Ajusta las intervenciones y mejora tu calidad profesional con la ayuda de nuestra plataforma.</p>
            </div>
            <div class="col-12 col-md-6 py-4 sos-terapeuta-section-title order-md-0 order-0 hidden-fade-in-right">
                <h3>¡Si sos terapeuta mira los datos de tus pacientes en nuestra web!</h3>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>